= link_to('Logout', destroy_user_session_path, method: :delete)

.questions
  = render partial: 'questions/questions_list', locals: { questions: @questions }
  - if can? :new, Question
    = link_to 'Add new question', new_question_path